@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #132043;
    --degrade-azul: linear-gradient(to top, var(--cor-primaria)20%, var(--cor-hover));
    --cor-secundaria: #FDF0F0;
    --cor-terciaria: #d27e88;
    --cor-sombra: rgb(23, 24, 33);
    --filtro-cor-terciaria: brightness(0) saturate(100%) invert(73%) sepia(35%) saturate(1654%) hue-rotate(301deg) brightness(94%) contrast(73%);
    --cor-hover: #1F4172;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    box-sizing: border-box;
    background-image: var(--degrade-azul);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
    
}
.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__titulo {

    font-size: 1.5rem;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-decoration: none;
    padding: 21.5px 0;
}

.cabecalho__titulo::before {
    content: '';
    height: 3px;
    width: 100%;
    display: block;
    background: var(--cor-terciaria);
    border-radius: 3px;
    margin-bottom: 0.7em;
    transform: scaleX(0);
    transition: transform.5s;
    transform-origin: left;

}

.cabecalho__titulo:hover::before {
    transform: scaleX(1);
    transition: transform.5s;
    transform-origin: right;
}

.apresentacao {
    display: flex;
    padding: 5% 15%;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    border-top: 3px solid var(--cor-hover);
}

.apresentacao-resume {
    display: flex;
    padding: 2% 15% ;
    justify-content: space-between;
    gap: 82px;
    border-top: 3px solid var(--cor-hover);
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 40px;
}

.apresentacao__imagem {
    width: 40%;
    border: 5px solid var(--cor-hover);
    border-radius: 15% 15% 15% 0;
    box-shadow: 5px 5px 10px var(--cor-sombra);
}

.apresentacao__imagem__about{
    width: 30%;
    border: 5px solid var(--cor-terciaria);
    border-radius: 15% 15% 15% 0;
    box-shadow: 5px 5px 10px var(--cor-sombra);
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;

}

.titulo__destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

.apresentacao__lista {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    list-style-type: none;
}


.lista__ancora {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    text-decoration: underline;
    color: var(--cor-secundaria);
}

.apresentacao__conteudo__texto strong {
    color: var(--cor-terciaria);
}

.apresentacao__botoes {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    flex-direction: column;
}

.apresentacao__botoes__subtitulo {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;

}

.apresentacao__botoes__links {
    display: flex;
    color: var(--cor-secundaria);
    border-width: 2px;
    border-style: solid;
    border-color: var(--cor-secundaria);
    align-items: center;
    gap: 16px;
    justify-content: center;
    width: 50%;
    padding: 21.5px 0;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    box-shadow: var(--cor-primaria);
    outline: none;
    box-shadow: 5px 5px 10px var(--cor-sombra);
}

.apresentacao__botoes__links:hover {
    background-color: var(--cor-hover);
}

.botoes__icones {
    filter: var(--filtro-cor-terciaria);
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    text-align: center;
    padding: 24px;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 2% 5%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 8% 12%;
        gap: 50px;
        
    }

    .apresentacao__conteudo{
        width: auto;

    }

    .apresentacao-resume {
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 5rem;

    }

    .apresentacao__conteudo__texto {
        text-align: justify;
    }

    .apresentacao__botoes__subtitulo {
        font-size: 2rem;
        text-align: center;
    }

    .apresentacao__imagem {
        width: 30%;
    }
    
    .apresentacao__botoes {
        padding-top: 1rem;
    }

}
